<template>
  <div id="app">
    <div class="form-group">
      <label class="form-label">Student</label>
      <StudentPicker
        v-on:update="setStudent"
        :url="studentData">
      </StudentPicker>
    </div>
    <div v-if="student" class="form-group">
      <label class="form-label">Submission</label>
      <div class="submission" v-for="submission in submissions">
        <FileList :files="submission.attachments" />
      </div>
    </div>
    <div v-if="student" class="form-group">
      <label class="form-label">Comments</label>
      <div class="comment" v-for="(header, k) in sections">
        <p>{{ header }}</p>
        <textarea
          v-model="comments[k]"
          class="form-control"
          placeholder="Add your comments here"></textarea>
      </div>
    </div>
    <div v-if="student" class="form-group">
      <label for="mark" class="form-label">Mark</label>
      <input id="mark" class="form-control" type="number" v-model="mark" />
    </div>
    <button class="button" type="button" v-on:click="saveMark">Save and continue</button>
    <p v-if="saved">
      Saved
    </p>
  </div>
</template>

<script>
import StudentPicker from './components/StudentPicker'
import FileList from './components/FileList'

let parts = /modules\/([0-9]+)\/coursework\/([0-9]+)\//.exec(document.location.toString())
let mod = parts[1];
let cw = parts[2];

export default {
  name: 'app',
  data: () => {
    return {
      student: null,
      submissions: [],
      mark: null,
      sections: [],
      comments: [],
      saved: false
    }
  },
  computed: {
    studentData: function(){
      return `/modules/${mod}/users?user_role=student`;
    }
  },
  components: {
    StudentPicker,
    FileList
  },
  methods: {
    setStudent: function(student){
      this.student = student;
      $.get(`/modules/${mod}/coursework/${cw}/submissions/?format=json&user_id=${student.id}`, (data) => {
        this.submissions = data['results'];
      });
    },
    saveMark: function(){
      $.ajax({
        method: 'post',
        url: `/modules/${mod}/coursework/${cw}/mark/?format=json`,
        contentType : 'application/json',
        data: JSON.stringify({
          coursework: cw,
          student: this.student.id,
          mark: this.mark,
          comments: this.comments,
          returned: false
        }),
        success: () => {
          this.saved = true;
          this.student = null;
          this.comments = {};
          this.mark = null;
          this.submssions = [];
          setTimeout(() => {
            this.saved = false;
          }, 4000);
        }
      })
    }
  },
  created: function(){
    $.get(`/modules/${mod}/coursework/${cw}/edit/?format=json`, (data) => {
      $.each(data['parts'], (i, part) => {
        $.each(part['details']['comments_headers'], (i, header) => {
          this.sections.push(header);
        });
      });
    })
  }
}
</script>
