{% extends "base/layout.html" %}
{% block content %}{% load static %}
<div class="todo-list">
<h2>Tasks to do</h2>
{% if not results %}
<div class="empty-todo">
    <img src="{% static 'images/clouds.svg' %}" />
    You have no tasks to do
</div>
{% else %}
{% for item in results %}
<div class="task {% if item.is_important %}task-important{% endif %}">
    <span class="time">{{ item.expires_nice }}</span>
    {% if item.task_type == "coursework" %}
    <span style="border-color: {{ item.module.color }}" class="module">
        {{ item.module.code }} {{ item.module.name }}
    </span>
    <span class="title">{{ item.coursework.name }}</span>
    <div class="action-bar">
        <a href="{% url 'coursework-view' item.module.id item.coursework.id %}" class="button small">Coursework Information</a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}
