<template>
    <div class="file-list">
        <div class="file" v-for="file in files">
            <p>{{ filename(file.attachment) }}</p>
            <a target="_blank" class="button" :href="file.attachment">
                Download
            </a>
        </div>
    </div>
</template>
<script>
export default {
    props: ['files', ],
    methods: {
        filename: function(n){
            let f = n.split("/");
            return f[f.length - 1];
        }
    }
}
</script>
