<template>
  <div class="student-picker">
    <p class="font-xsmall" v-if="value">
      Selected {{ value.first_name }} {{ value.last_name }}
    </p>
    <input
      v-on:keyup="inputArrow"
      v-model="search"
      class="form-control"
      placeholder="Select a student" />
    <ul v-if="results.length > 0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front">
      <li class="ui-menu-item" v-for="(item, k) in results">
        <div
            v-on:click="selectStudent(item)"
            :class="{ 'ui-state-active': k == selected }"
            class="ui-menu-item-wrapper">
          {{ item.first_name }}
          {{ item.last_name }}
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import _ from 'underscore';

export default {
  data () {
    return {
      search: "",
      results: [],
      selected: -1,
      value: null
    }
  },
  props: ['url'],
  methods: {
    inputArrow: function(e){
      if(e.keyCode == 40){ // Down
        if(this.selected + 1 < this.results.length){
          this.selected += 1;
        }
      } else if(e.keyCode == 38){ // Up
        if(this.selected > 0){
          this.selected -= 1;
        }
      } else if(e.keyCode == 13){ // Enter
        this.selectStudent(this.results[this.selected]);
      }
    },
    selectStudent: function(student){
      this.value = student;
      this.search = '';
      this.results = [];
      this.$emit('update', this.value);
    }
  },
  watch: {
    search: _.debounce(function(){
      if(this.search == ""){
        this.results = [];
        return;
      }
      $.ajax({
        url: this.url,
        data: {"search": this.search},
        success: (data) => {
          this.results = data['results'];
          this.selected = -1;
        }
      })
    }, 500)
  }
}
</script>

<style scoped>
.ui-widget{
  max-width: 45%;
  margin-top: -2px;
}
</style>
