{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load static %}
<div class="todo-list">
    <h2>Your Timetable</h2>
    {% if not results %}
    <div class="empty-todo">
        {% if request.today.weekday == 5 %}
        <img src="{% static 'images/coffee.svg' %}" />
        {% trans "Your timetable is empty. Have a nice Saturday" %}
        {% elif request.today.weekday == 6 %}
        <img src="{% static 'images/park.svg' %}" />
        {% trans "Your timetable is empty. Have a nice Sunday" %}
        {% else %}
        <img src="{% static 'images/clouds.svg' %}" />
        {% trans "Your timetable is empty" %}
        {% endif %}
    </div>
    {% endif %}
    {% for result in results %}
    <div class="task {% if result.has_passed %}task-after-timetable{% endif %}">
        <span class="time">{{ result.start_time }}</span>
        <span class="module">
            {{ result.module_code }}
            {{ result.module }}
        </span>
        <!--
<span title="Claremont Tower Room 1.02" class="room">CLT 1.02</span>
        -->
        <!--
             <div class="action-bar">
            <a class="button small">Add Lecture Details</a>
        </div>
        -->
    </div>
    {% endfor %}
</div>
{% endblock %}
