{% extends "base/layout.html" %}
{% block content %}{% load i18n %}
<h1 class="heading-large">Hi {{ request.user.first_name }}</h1>

<div class="grid-row">
    <div class="column-one-half load-page" data-url="{% url 'timetable' %}?format=html&current_date=True">
    </div>
    <div class="column-one-half load-page" data-url="{% url 'task-list' %}?format=html">
    </div>
</div>

<h2>Your Modules</h2>

<div class="load-page" data-url="{% url 'modules' %}?format=html"></div>

{% endblock %}
