<div id="wrap_{{ id }}" class="keyvalue_wrap">
    <textarea {{ attrs | safe }}>{% if value %}{{ value }}{% endif %}</textarea>
</div>
<script type="text/javascript">
(function(){
    var el = document.getElementById("{{ id }}");
    el.style.display = "none";

    var wrap = document.getElementById("wrap_{{ id }}");
    var n = document.createElement("button");

    var reOutput = function(){
        var pairs = wrap.getElementsByClassName("pair");
        var oDict = {};
        for(var i = 0; i < pairs.length; i++){
            var pair = pairs[i];
            var key = pair.getElementsByClassName("key")[0];
            if(key.value != ""){
                var value = pair.getElementsByClassName("value")[0];
                oDict[key.value] = value.value;
            }
        }
        el.value = JSON.stringify(oDict);
    };

    var addRow = function(k, v){
        var row = document.createElement("div");
        row.classList.add("pair");

        var key = document.createElement("input");
        key.setAttribute("type", "text");
        key.setAttribute("placeholder", "Key")
        key.classList.add("key");
        key.value = k;
        key.addEventListener("change", reOutput);
        key.addEventListener("keyup", reOutput);
        row.appendChild(key);

        var value = document.createElement("input");
        value.setAttribute("type", "text");
        value.setAttribute("placeholder", "Value");
        value.classList.add("value");
        value.value = v;
        value.addEventListener("change", reOutput);
        value.addEventListener("keyup", reOutput);
        row.appendChild(value);

        wrap.insertBefore(row, n);
    }

    n.setAttribute("type", "button");
    n.innerText = "Add";
    n.addEventListener("click", function(){
        // do something
        addRow("", "");
    });
    wrap.appendChild(n);

    var dict = JSON.parse(el.value || "{}");
    for(var key in dict){
        addRow(key, dict[key]);
    }

    addRow("", "");
})();
</script>