{% load static %}{% load i18n %}{% if not request.is_ajax %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0" />

  <title>{% block title %}Embla{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <link rel="shortcut icon" href="icon.png" />
  <link rel="apple-touch-icon-precomposed" href="icon.png" />
  <meta name="apple-mobile-web-app-title" content="" />
  <link type="text/plain" rel="author" href="humans.txt" />
</head>
<body{% block bodytag %}{% endblock %}>
  {% block prehead %} {% endblock %}

  <div class="header-container">
    <div class="container">
        <a href="" class="title">
          <img src="{{ request.organisation.icon.url }}" class="minilogo" />
          {{ request.organisation.name }}
        </a>
        <a href="/" class="servicename">Embla</a>
    </div>
  </div>

    <div id="global-header-bar"></div>

    {% endif %}
    {% block wholecontent %}{% if not request.is_ajax %}
    <div id="content">
        <div class="phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This service is in Alpha</span>
          </p>
        </div>

        {% endif %}{% block content %}
        <h1>There is no content here</h1>{% endblock %}{% if not request.is_ajax %}
    </div>
    {% endif %}
    {% endblock %}{% if not request.is_ajax %}

    <div class="footer">
      <div class="container">
        <p>Copyright &copy; University of Newcastle upon Tyne 2017</p>
        {% if not request.user.is_anonymous %}
        <p>
          Logged in as {{ request.user }}.
          <a href="{% url 'logout' %}">Logout?</a>
        </p>
        {% endif %}
      </div>
    </div>

    <script>
      let trans = {
        'select_student': '{% trans "Type a student to lookup" %}'
      }
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>  
    <script type="text/javascript" src="{% static 'embla.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
{% endif %}
