{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load static %}
<div class="grid-row">
    <div class="column-half">
        <h1 class="heading-xlarge">Embla</h1>
        <p class="lede">
            {% blocktrans %}
            This system allows you to view the latest lectures, slides and coursework
            {% endblocktrans %}
        </p>
        <p class="lede">
            {% blocktrans with name=request.organisation.name %}
            You need an account at {{ name }} in order to access this service
            {% endblocktrans %}
        </p>
        {% if request.organisation.authentication.type == "django" %}
        <form method="post" action="{% url 'login-password' %}">
            {% csrf_token %}
            <label class="form-label" for="username">
                Username
            </label>
            <input class="form-control" type="text" name="username" id="username" />
            <label class="form-label" for="password">
                Password
            </label>
            <input class="form-control" type="password" name="password" id="password" />
            <p>
                <button class="button button-start">
                    {% trans "Login" %}
                </button>
            </p>
        </form>
        {% else %}
        <p>
            <!-- TODO -->
            <a class="button button-start" href="#" role="button">{% trans 'Login' %}</a>
        </p>
        {% endif %}
        <div class="notice">
            <i class="icon icon-information">
                <span class="visually-hidden">{% trans 'Information' %}</span>
            </i>
            <strong class="bold-small">
            {% blocktrans %}
            Embla uses cookies to keep you logged in and to improve services
            {% endblocktrans %}
            </strong>
        </div>
    </div>
    <div class="column-half">
        <img class="login-image" src="{% static 'screen.png' %}">
    </div>
</div>
{% endblock %}
