{% extends "base/layout.html" %}
{% block content %}{% load i18n %}
<div class="grid-row">
{% for result in results %}
    <div class="column-one-half">
        <div class="module-header">
            <span>
                <img src="{{ result.image }}" title="Icon representing contents of module" class="icon">
            </span>
            <div class="details">
                <h1>
                    <small>{{ result.code }} {{ result.year }}</small>
                    <a href="{% url 'module-single' result.id %}">
                        {{ result.name }}
                    </a>
                </h1>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
