{% if not request.is_ajax %}
<div class="module-header main-block">
    <span>
        <img src="{{ meta.module.image }}" title="Icon representing contents of module" class="icon">
    </span>
    <div class="details">
        <h1>
            <small>{{ meta.module.code }} {{ meta.module.year }}</small>
            {{ meta.module.name }}
        </h1>
    </div>
</div>
{% endif %}
