{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load markdown %}{% load static %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li aria-current="true">
            {{ name }}
        </li>
    </ol>
</div>
<div class="module-header module-header-large">
    <span><img src="{{ image }}" title="Icon representing contents of module" class="icon"></span>
    <div class="details">
        <h1>
            <small>{{ code }} {{ year }}</small>
            {{ name }}
        </h1>
        {{ description | markdown }}
    </div>
</div>
<ul class="tabs">
    <li class="active"><a href="{% url 'feed' id %}">Feed</a></li>
    <li><a href="{% url 'coursework-list' id %}">Coursework</a></li>
</ul>
<div class="tab-content"></div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'submit.js' %}"></script>
{% endblock %}

