{% extends "base/layout.html" %}
{% block content %}{% load i18n %}

{% if not results %}
<div class="notice main-block">
    <i class="icon icon-information">
        <span class="visually-hidden">Information</span>
    </i>
    <strong class="bold-small">
        This module has no users attached
    </strong>
</div>
{% endif %}
<ul>
{% for result in results %}
    <li>
        <h3>
        {{ result.first_name }}
        {{ result.last_name }}
        </h3>
        {% if result.user_role == "student" %}
        {% trans "Student" %}
        {% elif result.user_role == "staff" %}
        {% trans "Academic Staff" %}
        {% else %}
        {% trans "Marker" %}
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
