{% extends "base/layout.html" %}
{% block content %}{% load i18n %}
{% include "base/module_part.html" %}
<h2 class="heading-large">Coursework</h2>

{% if meta.module.user_role == 'staff' %}
<div class="action-bar main-block">
    <a class="button" href="/modules/{{ meta.module.id }}/coursework/new/">
        Create coursework
    </a>
</div>
{% endif %}

{% if not results %}
<div class="notice">
    <i class="icon icon-information">
        <span class="visually-hidden">Information</span>
    </i>
    <strong class="bold-small">
        This module has no coursework attached
    </strong>
</div>
{% endif %}
{% for result in results %}
<div class="grid-row">
    <div class="column-one-half">
        <h3>
        {{ result.title }}
        </h3>
        {% if result.mark %}
        <p>
            Your mark is {{ result.mark.mark }}.
            {% if mark.mark_type == 'fail' %}
            This mark is below the pass rate for this coursework.
            {% endif %}
        </p>
        {% endif %}
        <div class="action-bar">
            {% if meta.module.user_role == 'staff' %}
            <a href="{% url 'coursework-edit-form' meta.module.id result.id %}" class="button">
                Edit Coursework
            </a>
            <a href="{% url 'coursework-mark' meta.module.id result.id %}" class="button">
                Mark Coursework
            </a>
            {% endif %}
            <a href="{% url 'coursework-view' meta.module.id result.id %}" class="button">
                View Coursework
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
