{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load markdown %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li>
            <a href="/modules/{{ meta.module.id }}">
                {{ meta.module.name }}
            </a>
        </li>
        <li>
            <a href="/modules/{{ meta.module.id }}/coursework/{{ meta.coursework.id }}">
                {{ meta.coursework.title }}
            </a>
        </li>
        <li aria-current="true">
            Mark
        </li>
    </ol>
</div>
<ul class="tabs">
    <li class="active"><a class="normal" href="{% url 'coursework-mark' meta.module.id meta.coursework.id %}">Mark Online</a></li>
    <li><a class="normal" href="ll">Mark Offline</a></li>
</ul>

<h1>Mark Online</h1>

<div id="app"></div>

{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'coursework/app.js' %}"></script>
{% endblock %}
