{% extends "base/layout.html" %}
{% block bodytag %} class="admin-page"{% endblock %}
{% block wholecontent %}{% load i18n %}{% load static %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li>
            <a href="/modules/{{ meta.module.id }}">
                {{ meta.module.name }}
            </a>
        </li>
        {% if id %}
        <li>
            <a href="{% url 'coursework-view' meta.module.id id %}">
                {{ title }}
            </a>
        </li>
        <li aria-current="true">Edit</li>
        {% else %}
        <li aria-current="true">
            New Coursework
        </li>
        {% endif %}
    </ol>
</div>
<form class="coursework-form">
<div class="admin-row grid-row">
<div class="column-one-quarter admin-sidebar">
    <div class="header">
        <button type="submit" class="button">Save coursework</button>
    </div>
    <ul>
        <li class="basic-details-tab">
            <a class="trigger-tab" data-tab="basics" href="#basics">Basic Details</a>
        </li>
        <li class="dates-tab">
            <a class="trigger-tab" data-tab="dates" href="#dates">Dates</a>
        </li>
        <li>
            <a class="trigger-tab" data-tab="parts" href="#parts">Submission Parts</a>
        </li>
    </ul>
</div>
<div class="column-three-quarters">
{% csrf_token %}

<div class="tab-contents">
<div class="tab" data-tab="basics">
<h3 class="heading-medium">Basic Details</h3>

<div class="basic-details-error-box"></div>

<div class="form-group">
<label class="form-label" for="title">
    Title
</label>
<input type="text" name="title" id="title" class="form-control" value="{{ title }}" />
</div>

<div class="form-group">
<label class="form-label" for="mark_scheme">
    Mark Scheme
</label>
<select class="form-control" id="mark_scheme" name="mark_scheme">
    {% for scheme in meta.mark_schemes %}
    <option value="{{ scheme.id }}" {% if mark_scheme == scheme.id %}selected{% endif %}>
        {{ scheme.title }}
    </option>
    {% endfor %}
</select>
</div>

<div class="form-group">
<label class="form-label" for="max_mark">
    Total Mark
</label>
<input type="number" min="1" class="form-control form-control-1-8" id="max_mark" name="max_mark" value="{{ max_mark|default:"100" }}">
</div>

<div class="form-group">
<label class="form-label" for="owner">
    Owner
    <span class="form-hint">
        Who is taking responsibility for this coursework. Typically this is the module leader
    </span>
</label>
{% with value=result.owner_id|default:request.user.id %}
<select class="form-control" id="owner" name="owner">
    {% for user in meta.users %}
    <option value="{{ user.id }}" {% if value == user.id %}selected{% endif %}>
        {{ user.first_name }}
        {{ user.last_name }}
    </option>
    {% endfor %}
</select>
{% endwith %}
</div>

{% with is_link=description_is_link|default:0 %}
<div class="form-group">
    <fieldset>
        <div class="multiple-choice" data-target="description_inline_content">
            <input id="description_inline" type="radio" name="description_is_link" value="False" {% if is_link != true %}checked{% endif %}>
            <label for="description_inline">
                Include specification on Embla
                <span class="label recommended" aria-hidden="true">Recommended</span>
            </label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="description_inline_content">
            <label class="form-label" for="md_description">
                Specification
                <span class="form-hint">
                    You can use Markdown formatting for the specification.
                    <a href="http://commonmark.org/help/" target="_blank">
                        Help on Markdown
                    </a>
                </span>
            </label>
            <textarea class="form-control full-width coursework-description" rows="8" id="md_description">{% if is_link != True %}{{ description }}{% endif %}</textarea>
        </div>
        <div class="multiple-choice" data-target="description_inline_link">
            <input id="description_link" type="radio" name="description_is_link" value="True" {% if is_link == true %}checked{% endif %}>
            <label for="description_link">Link to a specification somewhere else</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="description_inline_link">
            <label for="link_description" class="form-label">Link to specification</label>
            <input class="form-control coursework-description" rows="8" id="link_description" value="{% if is_link == True %}{{ description }}{% endif %}" />
        </div>
    </fieldset>
</div>
{% endwith %}

<div class="main-block">
    <a class="trigger-tab button" data-tab="dates" href="#">Next section</a>
</div>

</div>
<div class="tab" data-tab="dates">
<h3 class="heading-medium">Date and Times</h3>
<div class="dates-error-box"></div>

<p>
    The date picker is for convenience. You can set the date and time manually if you wish
</p>

<div class="form-group">
    <label for="visible" class="form-label">Visible to Students</label>
    <input id="visible" name="visible" class="form-control date-control" type="text" value="{{ visible }}" />
</div>

<div class="form-group">
    <label for="submissions_open" class="form-label">Submissions Open</label>
    <input id="submissions_open" name="submissions_open" class="form-control date-control" type="text" value="{{ submissions_open }}" />
</div>

<div class="form-group">
    <label for="due" class="form-label">Due</label>
    <input id="due" name="due" class="form-control date-control" type="text" value="{{ due }}" />
</div>

<div class="form-group">
    <label for="submissions_close" class="form-label">Submissions Close</label>
    <input id="submissions_close" name="submissions_close" class="form-control date-control" type="text" value="{{ submissions_close }}" />
</div>

<div class="form-group">
    <label for="mark_by" class="form-label">Marked by</label>
    <input id="mark_by" name="mark_by" class="form-control date-control" type="text" value="{{ mark_by }}" />
</div>

<div class="form-group">
    <label for="returned" class="form-label">Return to students by</label>
    <input id="returned" name="returned" class="form-control date-control" type="text" value="{{ returned }}" />
</div>

<div class="main-block">
    <a class="trigger-tab button" data-tab="parts" href="#">Next section</a>
</div>

</div>
<div class="tab" data-tab="parts">
<h3 class="heading-medium">Submission Parts</h3>
<p>
    Parts of the coursework which need submitting in order for the coursework
    to be marked.
</p>

<ul class="submission-parts">
{% for part in parts %}
    <li>
        {% with id=part.id %}
        {% include "coursework/part.html" %}
        {% endwith %}
    </li>
{% endfor %}
</ul>
<a class="button add-submission-part">Add Part</a>

<script type="text/x-html-template" class="submission-part-template hidden">
{% with id="{{ id }}" %}
    {% include "coursework/part.html" %}
{% endwith %}
</script>

<hr/>
<div class="main-block">
<button type="submit" class="button">Save coursework</button>
</div>
</div>
</div>
</div>
</div>
</form>

<script type="text/x-html-template" class="invalid-tab-template">
<div class="university-notice">
    <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
    <div class="notice-details">
        This page contains errors
    </div>
</div>
</script>

{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
<script type="text/javascript" src="{% static 'coursework.js' %}"></script>
<script type="text/javascript" src="{% static 'calendar.js' %}"></script>
{% endblock %}
