{% extends "base/layout.html" %}
{% block content %}{% load i18n %}
{% if not results %}
<div class="notice main-block">
    <i class="icon icon-information">
        <span class="visually-hidden">Information</span>
    </i>
    <strong class="bold-small">
        This coursework has no submission parts added
    </strong>
</div>
{% endif %}
<ul>
{% for result in results %}
    <li>
        <h3>
            {% if result.part_type == "online" %}
            Online submission
            {% elif result.part_type == "offline" %}
            Offline submission
            {% endif %}
            {% if submission_entity == "group" %}
            (group submission)
            {% elif submission_entity == "anon" %}
            (anonymous)
            {% endif %}
        </h3>
        {{ result.description }}
        {% if result.part_type == "online" %}
        <div class="action-bar">
            <a href="{% url 'coursework-part-submit' meta.module.id meta.coursework.id result.id %}" class="button">
                Submit
            </a>
        </div>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
