{% load i18n %}
{% if part.id %}
<input type="hidden" data-name="id" value="{{ part.id }}" class="part-control" />
{% endif %}
<div class="form-group">
    <label class="form-label" for="parts_{{ id }}_part_type">
        {% trans 'Type of Submission' %}
    </label>
    <select class="form-control part-control submission-type" id="parts_{{ id }}_part_type" data-name="part_type">
        <option {% if part.part_type == "online" %}selected{% endif %} value="online">{% trans 'Online Submission' %}</option>
        <option {% if part.part_type == "offline" %}selected{% endif %} value="offline">{% trans 'Offline Submission' %}</option>
        <option {% if part.part_type == "slot" %}selected{% endif %} value="slot">{% trans 'Online Slot Booking' %}</option>
    </select>
</div>
<div class="form-group">
    <label class="form-label" for="parts_{{ id }}_submission_entity">
        {% trans 'Submission Entity' %}
        <span class="form-hint">
            {% trans 'An entity can be a student, anonymized student or a group' %}
        </span>
    </label>
    <select class="form-control part-control" id="parts_{{ id }}_submission_entity" data-name="submission_entity">
        <option {% if part.submission_entity == "individual" %}selected{% endif %} value="individual">{% trans 'Individual Submission' %}</option>
        <option {% if part.submission_entity == "group" %}selected{% endif %} value="group">{% trans 'Group Submission' %}</option>
        <option {% if part.submission_entity == "anon" %}selected{% endif %} value="anon">{% trans 'Anonymous Individual Submission' %}</option>
    </select>
</div>
<div class="form-group">
    <label class="form-label" for="parts_{{ id }}_description">
        {% trans 'Description' %}
        <span class="form-hint">
            {% trans 'Any information about this particular part of the submission' %}
        </span>
    </label>
    <textarea data-name="description" id="parts_{{ id }}_description" class="form-control part-control full-width" rows="4">{{ part.description }}</textarea>
</div>
<div class="slot-submission-only">
    <strong class="bold-small">
        Slot booking is not implemented yet. For the purposes of this dissertation
        this functionality was too complex to complete on time
    </strong>
</div>
<div class="form-group online-submission-only offline-submission-only">
    <label class="form-label" for="parts_{{ id }}_comments_headers">
        {% trans 'Comment Sections' %}
        <span class="form-hint">
            {% trans "Sections used for comments when marking" %}
        </span>
    </label>
    <div class="string-array" data-name="details.comments_headers">
        {% for item in part.details.comments_headers %}
            <input class="form-control" value="{{ item }}" />
        {% endfor %}
    </div>
</div>
<div class="form-group online-submission-only">
    <label class="form-label" for="parts_{{ id }}_file_types">
        {% trans 'File Types' %}
    </label>
    <select class="form-control part-control" id="parts_{{ id }}_file_types" data-name="details.file_types">
        <option value="any" {% if part.details.file_types == "any" %}selected {% endif %}>{% trans 'Any File' %}</option>
        <option value="doc" {% if part.details.file_types == "doc" %}selected {% endif %}>{% trans 'Office Documents Only (pdf, doc, docx)' %}</option>
    </select>
</div>
<div class="form-group online-submission-only">
    <label class="form-label" for="parts_{{ id }}_file_number">
        {% trans 'Number of Files' %}
    </label>
    <input type="number" value="{{ part.details.file_number }}" min="1" class="form-control part-control form-control-1-8" id="parts_{{ id }}_file_number" data-name="details.file_number">
    <label>
        <input class="form-checkbox part-control" type="checkbox" data-name="details.unlimited_files" {% if part.details.unlimited_files %}checked{% endif %} />
        No Limit
    </label>
</div>

<a class="small-delete remove-part">
    <span>&times;</span>
    {% trans "Remove" %}
</a>
