{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load markdown %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li>
            <a href="/modules/{{ module.id }}">
                {{ module.name }}
            </a>
        </li>
        <li>
            <a href="/modules/{{ module.id }}/coursework/{{ id }}">
                {{ title }}
            </a>
        </li>
        <li aria-current="true">
            Release Marks
        </li>
    </ol>
</div>

<h1>Release Marks</h1>

{% if request.method == 'GET' %}
<p>Marks need to be released in order to be displayed to students</p>
<form method='post'>
    {% csrf_token %}
    <button type='submit' class='button'>Release Marks</button>
</form>
{% else %}
<p>Marks have been released</p>
{% endif %}

{% endblock %}
