{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load markdown %}{% load static %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li>
            <a href="/modules/{{ meta.module.id }}">
                {{ meta.module.name }}
            </a>
        </li>
        <li>
            <a href="{% url 'coursework-view' meta.module.id meta.coursework.id %}">
                {{ meta.coursework.title }}
            </a>
        </li>
        <li aria-current="true">
            Submit
        </li>
    </ol>
</div>
{% if state == "on time" %}
<div class="status-box status-ok">
    <h1>
        {% trans 'Coursework submitted' %}
    </h1>
    <p class="lede">
        {% trans 'Relax, your coursework was submitted on time.' %}
    </p>
    <p>
        Your receipt is {{ receipt }}
    </p>
</div>
{% else %}
<div class="status-box status-warning">
    <h1>
        {% trans 'Coursework submitted' %}
    </h1>
    <p class="lede">
        {% trans 'Your coursework was submitted, however it has been marked as late' %}
    </p>
    <p>
        Your receipt is {{ receipt }}
    </p>
</div>
{% endif %}

<div class="grid-row main-block">
    <div class="column-two-thirds">
        <h2>What happens next?</h2>
        <p>Your coursework has been submitted online to Embla. You will receive an email confirmation of this submission</p>
        <p>You can make as many submission as you want until the submissions close</p>
        <p>Once the deadline has passed the latest submission you have made to Embla will be marked, and returned once the marks have been verified</p>
        <p>Embla will email you when the marks have been released</p>
    </div>
</div>

{% endblock %}
