{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load markdown %}{% load static %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li>
            <a href="/modules/{{ meta.module.id }}">
                {{ meta.module.name }}
            </a>
        </li>
        <li>
            <a href="{% url 'coursework-view' meta.module.id meta.coursework.id %}">
                {{ meta.coursework.title }}
            </a>
        </li>
        <li aria-current="true">
            Submit
        </li>
    </ol>
</div>

{% if meta.previous_submission %}
<div class="error-summary" role="group">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        You have already made a submission for this coursework
    </h1>
    <p>
        You can still make another submission, however only the files in the latest submission
        you make will be marked
    </p>
    <p>
        Make sure your new submission contains all of the files you want to be marked
    </p>
</div>
{% endif %}

<h2 class="heading-large">Submit Coursework</h2>

{% if not meta.part.details.unlimited_files and meta.part.details.file_types != "any" %}
<p class="lede">
    This submission requires
    {% if meta.part.details.unlimited_files %}
    online submission of
    {% else %}
    {{ meta.part.details.file_number }}
    {% endif %}
    {% if meta.part.details.file_types == 'doc' %}
    office documents (pdf, doc or docx)
    {% else %}
    files
    {% endif %}
</p>
{% endif %}

<p>{{ meta.part.description | markdown }}</p>

<form method="post" action="">{% csrf_token %}

{% if meta.module.user_role == 'staff' %}
<div class="panel panel-border-wide">
    <p>Select whom to submit this coursework on behalf of</p>
    <div class="form-group">
        <label for="student" class="form-label">
            Student
        </label>
        <input class="student-selector" type="hidden"
            data-url="{% url 'module-user-list' meta.module.id %}?user_role=student" />
    </div>
</div>
{% endif %}
<div class="clear" style="clear:both"></div>

<div class="file-list main-block">
    <div class="drop-zone" data-url="/submissions/attachments/">
        <span class="normal">
            Drop a file here or<br>
            <input type="file" class="file-upload" />
        </span>
        <span class="uploading hidden">
            Uploading...
        </span>
    </div>
</div>

<script type="text/x-template" class="file-template">
    <div class="file">
        <input type="hidden" name="attachments[]" value="" class="file-id" />
        <p class="file-title"></p>
        <a class="button small delete">
            Remove File
        </a>
    </div>
</script>

<div class="university-notice">
    <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
    <div class="notice-details">
        <strong class="bold-small">
            Submitting coursework to the University means you agree to the following:
        </strong>
        <ul>
            <li>The work you are submitting is your own and that you have correctly acknowledged the work of others</li>
            <li>The University may use plagiarism detection systems on your work</li>
        </ul>
        <details>
            <summary>
                <span class="summary">Full Information</span>
            </summary>
            <div class="panel panel-border-narrow">
                {{ request.organisation.submission_regulations|markdown }}
            </div>
        </details>
    </div>
</div>

<button type="submit" class="button main-block">Submit Coursework</button>

</form>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'submit.js' %}"></script>
{% endblock %}
