{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load markdown %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/">Embla</a></li>
        <li>
            <a href="/modules/{{ meta.module.id }}">
                {{ meta.module.name }}
            </a>
        </li>
        <li aria-current="true">
            {{ title }}
        </li>
    </ol>
</div>

<h2 class="heading-large">{{ title }}</h2>

{% if meta.module.user_role == 'staff' %}
<div class="action-bar main-block">
    <a class="button" href="{% url 'coursework-edit-form' meta.module.id id %}">
        Edit
    </a>
    <a href="{% url 'coursework-mark' meta.module.id id %}" class="button">
        Mark Coursework
    </a>
    <a href="{% url 'coursework-mark-release' meta.module.id id %}" class="button">
        Release Marks
    </a>
</div>
{% endif %}

{% if mark %}
<h2>Your Mark</h2>

<p>You scored {{ mark.mark }}</p>
{% if mark.mark_type == "fail" %}
<p>
    This mark is below the pass rate for this coursework.
    You will need to contact your tutor for further information
</p>
{% elif mark.mark_type == "comp" %}
<p>Your mark is a compensatable pass. Contact your tutor for further information</p>
{% else %}
<p>This mark is above the pass rate. Well done!</p>
{% endif %}

<h3>Comments</h3>

{% for comment in mark.comments %}
{{ comment | markdown }}
{% endfor %}

<h2>Description</h2>
{% endif %}

{% if description_is_link %}
<p class="lede">
    Coursework specifcation can be found
    <a href="{{ description }}">here</a>
</p>
{% else %}
<div class="specifcation">
{{ description|markdown }}
</div>
{% endif %}

<h2>Submission required for this coursework</h2>
<div class="load-page" data-url="{% url 'coursework-part-list' meta.module.id id %}"></div>

{% endblock %}
