{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load static %}{% load markdown %}
{% if meta.module.user_role == "staff" %}
<form method="post" action="{% url 'feed' meta.module.id %}">{% csrf_token %}
<div class="module-activity">
    <div class="activity-type activity-post">
        POST
    </div>
    <div class="activity-details">
        <div class="form-group">
            <label class="form-label" for="content">
                Content
                <span class="form-hint">
                    You can use Markdown formatting.
                    <a href="http://commonmark.org/help/" target="_blank">
                        Help on Markdown
                    </a>
                </span>
            </label>
            <textarea
                name="comment"
                class="form-control full-width coursework-description"
                rows="4"
                placeholder="Write your post here"
                id="content">{% if is_link != True %}{{ description }}{% endif %}</textarea>
        </div>

        <div style="clear:both"></div>
        <div class="file-list main-block">
            <div class="drop-zone" data-url="/feed/attachments/">
                <span class="normal">
                    Drop a file here or<br>
                    <input type="file" class="file-upload" />
                </span>
                <span class="uploading hidden">
                    Uploading...
                </span>
            </div>
        </div>

        <script type="text/x-template" class="file-template">
            <div class="file">
                <input type="hidden" name="attachments[]" value="" class="file-id" />
                <p class="file-title"></p>
                <a class="button small delete">
                    Remove File
                </a>
            </div>
        </script>

        <button type="submit" class="button">Save Post</button>
    </div>
</div>
</form>
{% endif %}

{% if not results %}
<div class="notice main-block">
    <i class="icon icon-information">
        <span class="visually-hidden">Information</span>
    </i>
    <strong class="bold-small">
        This module has no posts
    </strong>
</div>
{% endif %}
{% for post in results %}
<br/>
<div class="module-activity">
    <div class="activity-type activity-post">
        POST
    </div>
    <div class="activity-details">
        {{ post.comment | markdown }}
        {% for file in post.attachments %}
            <div class="file">
                <p>{{ file.filename }}</p>
                <a target="_blank" class="button" href="{{ file.attachment }}">Download</a>
            </div>
        {% endfor %}
        <p>Posted {{ post.posted }}</p>
        {% if meta.module.user_role == "staff" %}
        <div class="action-bar">
            <form method="post" action="{% url 'feed-visibility' post.id %}">
            {% csrf_token %}
            {% if post.visible_students %}
            <span>Visible to students</span>
            <input type="hidden" name="visibility" value="invisible" />
            <button type="submit" class="button">Make invisible</button>
            {% else %}
            <span>Invisible to students</span>
            <input type="hidden" name="visibility" value="visible" />
            <button type="submit" class="button">Make visible</button>
            {% endif %}
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'submit.js' %}"></script>
{% endblock %}
