{% extends "base/layout.html" %}
{% block content %}{% load i18n %}{% load static %}

<p>Feed item was updated</p>
<p><a href="javascript:document.location.href = document.referrer">Back</a></p>

{% endblock %}
