{% extends "base/layout.html" %}
{% block content %}{% load i18n %}
<h1>{% trans 'Embla' %}</h1>
<p class="lede">
    {% trans 'Login using a username and password' %}
</p>

{% if form.errors %}
<div class="error-summary">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        {% trans "Double check your username and password" %}
    </h1>
    <p>
        {% trans "If you're still having difficulties, contact the IT service" %}
    </p>
</div>
{% endif %}

<form method="post" action="{% url 'login-password' %}">
    {% csrf_token %}
    <label class="form-label" for="username">
        Username
    </label>
    <input class="form-control" type="text" name="username" id="username" />
    <label class="form-label" for="password">
        Password
    </label>
    <input class="form-control" type="password" name="password" id="password" />
    <p>
        <button class="button button-start">
            {% trans "Login" %}
        </button>
    </p>
</form>

{% endblock %}
