{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ _('Embla Admin') }}{% endblock %}

{% block branding %}
{% load static %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    Embla Adminstration
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block extrastyle %}
<style type="text/css">
  .dink{
    margin-top: -20px;
    margin-left: -10px;
    max-height: 15px;
  }
  #header{
    background: #000;
  }
  #header *{
      color: #FFF !important;
  }
  .dotsicon{
      width: 36px;
      vertical-align: bottom;
  }
  .keyvalue_wrap{
    float: left;
  }
</style>
{% endblock %}